@tailwind base;
@tailwind components;
@tailwind utilities;


.fixed.bottom-4.left-1\/2 {
  z-index: 50; /* Ensure this is high enough */
  display: flex; /* Ensure it's visible */
  visibility: visible;
}